<div class='bg-primary'>
  <div class='l-container'>
    <h1>Rijksmuseum</h1>
    <h2>Zoek in de collectie</h2>
  </div>
</div>

<div class="l-container text-center">
  <ul class="ul-btn-grouped">
    <li><%= link_to 'Top stukken', rijksmuseum_path(top_pieces: true) %></li>
    <li><%= link_to 'Vermeer', rijksmuseum_path(artist: 'vermeer') %></li>
    <li><%= link_to 'Van Gogh', rijksmuseum_path(artist: 'van gogh') %></li>
    <li><%= link_to 'Rembrand', rijksmuseum_path(artist: 'rembrand') %></li>
    <li><%= link_to 'Jan Steen', rijksmuseum_path(artist: 'jan steen') %></li>
    <li><%= link_to 'Frans Hals', rijksmuseum_path(artist: 'frans hals') %></li>
  </ul>
</div>

<div class="l-container">
  <%= form_tag(rijksmuseum_path) do %>
    <%= label_tag('Zoek in de collectie') %>
    <%= search_field_tag(:search) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<% @art_objects_search.in_groups_of(3, false) do |group| %>
  <div class="grid-container">
    <% group.each do |object| %>
      <div class='grid-4 l-grid-4 card card-rijksmuseum-index'>
        <div class='card-header'>
          <% unless object["webImage"].blank? %>
            <%=link_to (image_tag(object["webImage"]["url"], class: "img-rijks")), object["links"]["web"] %>
          <% end %>
        </div>
        <div class="card-body">
          <%= link_to object["longTitle"], object["links"]["web"] %>
          <p><%= object["principalOrFirstMaker"] %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>








  





