<div class="bg-primary">
  <div class="l-container">
    <h1>Artikelen</h1>
  </div>
</div>

<div class="l-container text-center">
  <ul class="ul-btn-grouped">
    <% @post_categories.each do |c| %>
      <li><%= link_to c.name, posts_path(post_category: c.name) %></li>
    <% end %>
  </ul>
</div>

<% @posts.in_groups_of(4, false) do |group| %>
  <div class="grid-container">
    <% group.each do |post| %>
      <div class="grid-3 l-grid-3 card card-post-index">
        <div class="card-header">
          <%= link_to post.title, post_path(post) %><br>
          <p><%= post.post_category.name %></p>
        </div>
        <div class="card-body">
          <%= truncate(post.body, length: 125) %><%= link_to "Lees meer", post_path(post) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="post-pagination">
  <%= paginate @posts, :window => 2 %>
</div>
