<div class="bg-primary">
  <div class="l-container">
    <h1>Alle berichten</h1>
  </div>
</div>

<div>
  <% @post_categories.each do |c| %>
    <%= link_to c.name, posts_path(category: c.name) %>
  <% end %>

</div>


<% @posts.in_groups_of(4, false) do |group| %>
  <div class="grid-container">
    <% group.each do |post| %>
      <div class="grid-3 l-grid-3 card">
        <div class="card-header">
          <%= link_to post.title, post_path(post) %><br>
        </div>
        <div class="card-body">
          <%= truncate(post.body, length: 125) %><%= link_to "Lees meer", post_path(post) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="post-pagination">
  <%= paginate @posts, :window => 2 %>
</div>
