<div class="bg-primary">
  <div class="l-container l-pageheader-post-show">
    <h1><%= @post.title %></h1>
    <h3><%= @post.post_category.name %></h3>
    <h3>Geplaatst op: <%= time_tag(@post.created_at) %></h3>
    <h3><%= @post.published %></h3>
  </div>
  
</div>

<div class="l-container">
  <%= @post.body %>  
</div>
