<footer class="site-footer">
  <nav>
    <ul class="ul-site-footer">
      <li><%= link_to "Footer Item", root_path %></li>
      <li><%= link_to "Footer Item", root_path %></li>
      <li><%= link_to "Footer Item", root_path %></li>
      <li><%= link_to "Footer Item", root_path %></li>
    </ul>

    <ul class="ul-site-footer">
      <li><%= link_to "Footer Item", root_path %></li>
      <li><%= link_to "Footer Item", root_path %></li>
      <li><%= link_to "Footer Item", root_path %></li>
      <li><%= link_to "Footer Item", root_path %></li>
    </ul>

    <ul class="ul-site-footer">
      <li><%= link_to "Footer Item", root_path %></li>
      <li><%= link_to "Footer Item", root_path %></li>
      <li><%= link_to "Footer Item", root_path %></li>
      <li><%= link_to "Footer Item", root_path %></li>
    </ul>
  </nav>
</footer>