<header>
  <nav class="main-nav">
    <%= link_to 'Home', root_path, class: 'nav-logo' %>
    <%= link_to 'Menu', '#', id: "menu-open", class: "header-menu-link" %>
    <%= link_to 'Close', '#', id: "menu-close", class: "header-menu-link" %>
    
    <ul class="ul-header-menu" id="menu">
      <li><%= link_to "Posts", posts_path %></li>
      <li><%= link_to "Art", rijks_resources_index_path %></li>
      <li><%= link_to "Link", root_path %></li>
      <li><%= link_to "Link", root_path %></li>
    </ul>
    
  </nav>
</header>